.wrapper {
    width: 1024px;
    min-height: 100vh;
    margin: 0 auto;
}

.layout {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

.list-title {
    border-bottom: 1px solid rgb(170, 170, 170);
}

.group-list {
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-right: 1px solid rgb(170, 170, 170);
    padding: 0 5px;
    user-select: none;
}

.group-item {
    padding: 0 5px;
    font-size: large;
    cursor: pointer;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.055);

    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.group-item-name span {
    /* background-clip: text; */
    background-color: rgba(255, 255, 255, 0.726);
}

/* .group-item:last-child {
    display: block;
    border-top: 1px solid black;
    opacity: 0.3;
    text-align: center;
} */

.group-item-name {
    width: 100%;
}

.group-item-btn {
    font-size: 0.7em;
    padding: 0 5px;
    opacity: 0.2;
}

.group-item-btn:hover {
    color: rgb(182, 0, 0);
    opacity: 1;
}

.group-item:hover {
    outline: 1px dashed #333;
    opacity: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

.channel-select {
    width: 60px;
}

@keyframes blinker {
    50% {
        background-color: #ffffff; /* Цвет фона в середине анимации */
    }
}

.status-button {
    padding: 5px;
    width: 80px; /* Увеличили ширину, чтобы уместить "Обработка" */
    height: 30px;
    border: none;
    cursor: pointer;
    color: white;
    text-align: center;
    line-height: 20px;
    background-color: rgb(255, 0, 0);
    animation: blinker 1s linear infinite;
}

.status-button.on {
    background-color: rgb(192, 0, 0);
    animation: none;
}

.status-button.off {
    background-color: gray;
    animation: none;
}

.status-button.processing {
    background-color: #ffc107; /* Желтый для обработки */
    animation: none;
    cursor: default;
}

.delete-button {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.add-row-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

.add-group-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ec8b2f;
    color: white;
    border: none;
    cursor: pointer;
}

/* Стиль для чекбокса */
.status-checkbox {
    vertical-align: middle; /* Выравниваем по вертикали с кнопкой */
    margin-left: 10px; /* Отступ от кнопки */
    height: 24px; /* Высота как у кнопки (примерно) */
    width: 24px; /* Ширина чекбокса */
    cursor: pointer;
    margin-right: 0; /* Убираем отступ справа */
}

/*  Добавлено:  */
.status-cell {
    display: flex;
    align-items: center; /* Выравниваем элементы по вертикали */
    justify-content: space-around; /* Прижимаем элементы к левому краю */
}

/* Styles for the "Turn On/Off Selected" buttons */
.bulk-control-buttons {
    margin-top: 20px;
    text-align: center;
}

.bulk-control-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    margin: 0 10px;
}

.bulk-control-button.on {
    background-color: #4caf50; /* Green */
}

.bulk-control-button.off {
    background-color: #f44336; /* Red */
}

/* Styles for the preset controls */
.preset-controls {
    margin-top: 20px;
    text-align: center;
    visibility: hidden;
}

.preset-controls select,
.preset-controls button {
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.login-form {
    text-align: center;
    margin-bottom: 20px;
}

.login-form label {
    display: inline-block; /* Располагаем label и input в строку */
    width: 80px; /* Ширина label */
    text-align: right;
    margin-right: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Добавляем стили для модальной формы авторизации */
.login-form {
    display: none; /* Скрываем форму по умолчанию */
    position: fixed; /* Позиционируем форму относительно окна */
    top: 50%; /* Отступ сверху, чтобы форма центрировалась */
    left: 50%; /* Отступ слева, чтобы форма центрировалась */
    transform: translate(-50%, -50%); /* Выводим форму в центр окна */
    background-color: #fff; /* Фоновый цвет формы */
    padding: 20px; /* Полярка вокруг контента */
    border-radius: 10px; /* Круглый угол формы */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Тень формы */
    z-index: 1000; /* Отображение над другими элементами */
}

.login-form input {
    margin-bottom: 10px;
}

.params-save-load {
    cursor: pointer;
    display: block;
    /* background-color: #4caf50; */
    padding: 5px;
    box-shadow: inset 0 0 5px black;
    border-radius: 5px;
    opacity: 0.8;
}

.load-block {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.save-block {
    display: flex;
    gap: 10px;
}

.save-load-block {
    opacity: 0.5;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
